# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

.idea/

*debuglog.txt
coverage/
.coverage
logs/
sse_offload_plugin.so