<div class="col-xs-6 col-xs-offset-3">
    <div class="well" ng-show="profileSettingsCtrl.profile">
        <form role="form" class="settings" ng-submit="profileSettingsCtrl.update()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group label-floating">
                        <label for="settings__email" class="control-label">Email</label>
                        <input type="text" class="form-control" id="settings__email"
                               ng-model="profileSettingsCtrl.profile.email"/>
                    </div>

                    <div class="form-group label-floating">
                        <label for="settings__password" class="control-label">New Password</label>
                        <input type="password" class="form-control" id="settings__password"
                               ng-model="profileSettingsCtrl.profile.password"/>
                    </div>

                    <div class="form-group label-floating">
                        <label for="settings__confirm-password" class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" id="settings__confirm-password"
                               ng-model="profileSettingsCtrl.profile.confirm_password"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group label-floating">
                        <label for="settings__username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="settings__username"
                               ng-model="profileSettingsCtrl.profile.username"/>
                    </div>
                    <div class="form-group label-floating">
                        <label for="settings__first_name" class="control-label">First name</label>
                        <input type="text" class="form-control" id="settings__first_name"
                               ng-model="profileSettingsCtrl.profile.first_name"/>
                    </div>
                    <div class="form-group label-floating">
                        <label for="settings__last_name" class="control-label">Last name</label>
                        <input type="text" class="form-control" id="settings__last_name"
                               ng-model="profileSettingsCtrl.profile.last_name"/>
                    </div>

                </div>
            </div>




            <div class="form-group label-floating">
                <label for="settings__tagline" class="control-label">Tagline</label>
                <textarea class="form-control" id="settings__tagline" ng-model="profileSettingsCtrl.profile.tagline"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-raised profile-btn">Submit</button>
                <button type="button" class="btn btn-danger pull-right btn-raised profile-btn" ng-really-message="Are you sure?"
                        ng-really-click="profileSettingsCtrl.destroy()">Delete Account
                </button>
            </div>
        </form>
    </div>
</div>
