<form role="form" ng-submit="newPostCtrl.submit()">
    <legend>New Post</legend>
    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
    <div class="form-group">
        <label for="post__content">Content</label>
        <textarea class="form-control"
                  id="post__content"
                  rows="3"
                  ng-model="newPostCtrl.content">
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-raised" id="new-post-btn">
            Post it
        </button>
    </div>
</form>
