<!DOCTYPE html>
<html ng-app="django-angular">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Django - Angular</title>
    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 ng-view"></div>
        </div>
    </div>

    {% include 'javascripts.html' %}
</body>
</html>
