{% load static %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>
{% if debug %}
<script type="text/javascript" src="{% static 'javascripts/django-angular.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/django-angular.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/django-angular.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/posts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/services/posts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/posts.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/posts.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/post.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/new-post.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/edit-post.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/post.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/material.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/directives/ng-really.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'js/django-angular.min.js' %}"></script>
{% endif %}

