<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h1>Register</h1>

        <div class="well">
            <form role="form" ng-submit="registerCtrl.register()">
                <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
                <div class="form-group label-floating">
                    <label for="register__email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="register__email" ng-model="registerCtrl.email"/>
                </div>

                <div class="form-group label-floating">
                    <label for="register__username" class="control-label">Username</label>
                    <input type="text" class="form-control" id="register__username" ng-model="registerCtrl.username"/>
                </div>

                <div class="form-group label-floating">
                    <label for="register__password" class="control-label">Password</label>
                    <input type="password" class="form-control" id="register__password" ng-model="registerCtrl.password"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-raised" id="register-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
